{% load wagtailimages_tags %}
<section id="links" class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="feature_header text-center">
                    <h3 class="feature_title"><i class="fa fa-link">&nbsp;</i><b>Enlaces Externos</b></h3>
                    <div class="divider"></div>
                </div>
            </div>  <!-- Col-md-12 End -->
        </div>
        <div class="row">
             <div class="blog-timeline">
                 <div class="row">
                    {% for link in links %}
                        <div class="col-md-3 col-sm-4">
                            <a href="{{ link.link_url }}" class="align-middle" title="{{ link.link_title }}" target="{{ link.link_target }}">
                                <div class="col-xs-12">
                                    {% image link.link_icon  original class='img-responsive' alt=link.link_title %}
                                </div>
                                <div class="col-xs-12" style="padding-top: 7%;">
                                    {{ link.link_text }}
                                </div>
                            </a>
                        </div>
                        {% if not forloop.last %}
                            <div class="col-xs-12 visible-xs"><hr/></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
