{% extends "base.html" %}
{% load static wagtailcore_tags bootstrap5 wagtailimages_tags faq_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

    {% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
    {#<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">#}
{% endblock extra_css %}

{% block content %}

    {% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
    <section id="hero" class="hero carousel  carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        {% for post in carrusel %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="container">
                    <div class="row justify-content-center gy-6">

                        <div class="col-lg-5 col-md-8">
                            {% with post.main_image as main_image %}
                                {% if main_image %}
                                    {% image main_image original class="img-fluid img" %}
                                {% endif %}
                            {% endwith %}
                            {#                        <img src="assets/img/hero-carousel/hero-carousel-1.svg" alt="" class="img-fluid img">#}
                        </div>

                        <div class="col-lg-9 text-center">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.intro }}</p>
                            <a href="{% pageurl post %}" class="btn-get-started scrollto ">Ver Mas</a>
                        </div>

                    </div>
                </div>
            </div><!-- End Carousel Item -->
        {% endfor %}

        <a class="carousel-control-prev" href="#hero" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

    </section>
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>About Us</h2>
                <p>Architecto nobis eos vel nam quidem vitae temporibus voluptates qui hic deserunt iusto omnis nam
                    voluptas asperiores sequi tenetur dolores incidunt enim voluptatem magnam cumque fuga.</p>
            </div>

            <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-5">
                    <div class="about-img">
                        <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-7">
                    <h3 class="pt-0 pt-lg-5">Neque officiis dolore maiores et exercitationem quae est seda lidera pat
                        claero</h3>

                    <!-- Tabs -->
                    <ul class="nav nav-pills mb-3">
                        {% for block in about.body %}
                            <li><a class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="pill"
                                   href="#tab-{{ block.value.order }}">{{ block.value.name }}</a></li>
                        {% endfor %}
                        {#                        <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Voluptates</a></li>#}
                        {#                        <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">Corrupti</a></li>#}
                    </ul><!-- End Tabs -->
                    <!-- Tab Content -->
                    <div class="tab-content">
                        {% for block_descripcion in about.body %}
                            <div class="tab-pane fade show {% if forloop.first %}active{% endif %}"
                                 id="tab-{{ block_descripcion.value.order }}">
                                <p class="fst-italic">{{ block_descripcion.value.descripcion }}</p>
                            </div><!-- End Tab 1 Content -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Servicios</h2>
                <p>Servicios de alta calidad y con un alto valor agregado.</p>
            </div>
            <div class="row gy-5">
                {% for block in servicios.body %}
                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                        <div class="service-item">
                            <div class="img">
                                <img src="{{ block.value.image.file.url }}" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="fa fa-{{ block.value.icon }} text-white"></i>
                                </div>
                                <a href="#" class="stretched-link">
                                    <h3>{{ block.value.title }}</h3>
                                </a>
                                <p>{{ block.value.text }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="clients" class="clients">
        <div class="container" data-aos="zoom-out">

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="{% static 'img/clients/client-1.png' %}" class="img-fluid"
                                                   alt=""></div>
                    <div class="swiper-slide"><img src="{% static 'img/clients/client-2.png' %}" class="img-fluid"
                                                   alt=""></div>
                    <div class="swiper-slide"><img src="{% static 'img/clients/client-3.png' %}" class="img-fluid"
                                                   alt=""></div>
                    <div class="swiper-slide"><img src="{% static 'img/clients/client-4.png' %}" class="img-fluid"
                                                   alt=""></div>
                    <div class="swiper-slide"><img src="{% static 'img/clients/client-5.png' %}" class="img-fluid"
                                                   alt=""></div>
                    <div class="swiper-slide"><img src="{% static 'img/clients/client-6.png' %}" class="img-fluid"
                                                   alt=""></div>
                    <div class="swiper-slide"><img src="{% static 'img/clients/client-7.png' %}" class="img-fluid"
                                                   alt=""></div>
                    <div class="swiper-slide"><img src="{% static 'img/clients/client-8.png' %}" class="img-fluid"
                                                   alt=""></div>
                </div>
            </div>

        </div>
    </section>
    <section id="portfolio" class="portfolio" data-aos="fade-up">

        <div class="container">

            <div class="section-header">
                <h2>Productos</h2>
                <p>Non hic nulla eum consequatur maxime ut vero memo vero totam officiis pariatur eos dolorum sed fug
                    dolorem est possimus esse quae repudiandae. Dolorem id enim officiis sunt deserunt esse soluta
                    consequatur quaerat</p>
            </div>

        </div>
        <div class="container" data-aos="fade-up" data-aos-delay="200">

            <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                 data-portfolio-sort="original-order">

                <ul class="portfolio-flters">

                    <li data-filter="*" class="filter-active">All</li>
                    {% for c in categorias_productos %}
                        <li data-filter=".filter-{{ c.name }}">{{ c.name }}</li>
                    {% endfor %}

                </ul><!-- End Portfolio Filters -->

                <div class="row g-0 portfolio-container">
                    {% for p in productos %}
                        <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-{{ p.category.name }}">
                        <div class="post-img text-center">
                            {% with p.main_image as main_image %}
                                {% if main_image %}
                                    {% image main_image original class="img-fluid img" %}
                                {% endif %}

                                {#                            <img src="{{ p.images.value.image.file.url }}" class="img-fluid"#}
                                {#                                 alt="{{ img.value.image.file.title }}">#}

                                <div class="portfolio-info">
                                    <h4>{{ p.name }}</h4>
                                    <a href="{{ main_image.file.url }}"
                                       data-gallery="portfolio-gallery"
                                       class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="{% pageurl p %}" title="Mas Detalles" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            {% endwith %}
                        </div>
                        </div><!-- End Portfolio Item -->
                    {% endfor %}

                </div><!-- End Portfolio Container -->

            </div>

        </div>
    </section>
    <section id="recent-blog-posts" class="recent-blog-posts">

        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Blog</h2>
                <p>Recent posts form our Blog</p>
            </div>

            <div class="row">
                {% for post in noticias %}
                    <div class="col-lg-4" data-aos="fade-up"
                         data-aos-delay="{% if forloop.first %}200{% elif forloop.counter == 2 %}400{% else %}600{% endif %}">
                        <div class="post-box">
                            <div class="post-img">
                                {#                  <img src="{{ post.image.file.url }}" class="img-fluid" alt="">#}
                                {% with post.main_image as main_image %}
                                    {% if main_image %}
                                        {% image main_image original class="img-fluid img" %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="meta">
                                <span class="post-date">{{ post.date }}</span>
                                <span class="post-author"> / {{ post.author|upper }}</span>
                            </div>
                            <h3 class="post-title">{{ post.title }}</h3>
                            <p>{{ post.body|richtext }}</p>
                            <a href="{% pageurl post %}" class="readmore stretched-link"><span>Ver Mas</span><i
                                    class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                {% endfor %}


            </div>

        </div>

    </section>
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Our Team</h2>
                <p>Architecto nobis eos vel nam quidem vitae temporibus voluptates qui hic deserunt iusto omnis nam
                    voluptas asperiores sequi tenetur dolores incidunt enim voluptatem magnam cumque fuga.</p>
            </div>

            <div class="row gy-5">
                {% for team in teams.body %}
                    <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
                        <div class="team-member">
                            <div class="member-img">
                                {#                                <img src="#" class="img-fluid" alt="{{ team.value.image.file.title }}">#}
                                {% image team.value.image min-500x200 class="img-fluid" %}
                            </div>
                            <div class="member-info">
                                <div class="social">
                                    {% for rs in team.value.social_media %}
                                        <a href="{{ rs.url }}"><i class="bi bi-{{ rs.name }}"></i></a>
                                    {% endfor %}
                                    {#                                    <a href=""><i class="bi bi-facebook"></i></a>#}
                                    {#                                    <a href=""><i class="bi bi-instagram"></i></a>#}
                                    {#                                    <a href=""><i class="bi bi-linkedin"></i></a>#}
                                </div>
                                <h4>{{ team.value.name }}</h4>
                                <span>{{ team.value.role }}</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->
                {% endfor %}

            </div>

        </div>
    </section>
    <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                    <div class="content px-xl-5">
                        <h3>Frequently Asked <strong>Questions</strong></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                        </p>
                    </div>

                    <div class="accordion accordion-flush px-xl-5" id="faqlist">
                        {% for faq in faqs.body %}
                            <div class="accordion-item" data-aos="fade-up"
                                 data-aos-delay="{{ forloop.counter|multiply:100 }}">
                                <h3 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faq-content-{{ faq.id |remove_comilla }}">
                                        <i class="bi bi-question-circle question-icon"></i>
                                        {{ faq.value.pregunta }}?
                                    </button>
                                </h3>
                                <div id="faq-content-{{ faq.id |remove_comilla }}" class="accordion-collapse collapse"
                                     data-bs-parent="#faqlist">
                                    <div class="accordion-body">
                                        {{ faq.value.respuesta }}.
                                    </div>
                                </div>
                            </div><!-- # Faq item-->
                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>
    </section>
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-header">
                <h2>Contáctenos</h2>
                <p>Comuníquese con nosotros.</p>
            </div>

        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                    frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->

        <div class="container">

            <div class="row gy-5 gx-lg-5">

                <div class="col-lg-4">

                    <div class="info">
                        <h3>Get in touch</h3>
                        <p>Et id eius voluptates atque nihil voluptatem enim in tempore minima sit ad mollitia commodi
                            minus.</p>

                        <div class="info-item d-flex">
                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h4>Location:</h4>
                                <p>A108 Adam Street, New York, NY 535022</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex">
                            <i class="bi bi-phone flex-shrink-0"></i>
                            <div>
                                <h4>Call:</h4>
                                <p>+1 5589 55488 55</p>
                            </div>
                        </div><!-- End Info Item -->

                    </div>

                </div>

                <div class="col-lg-8">
                    <form action="{% url 'save_contact' %}" method="post" role="form" class="php-email-form">
                        <div class="row">
                            {% csrf_token %}
                            <div class="col-md-6 form-group">
                                {#                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>#}
                                {% bootstrap_field contact_form.name %}
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                {#                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>#}
                                {% bootstrap_field contact_form.phone %}
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            {#                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>#}
                            {% bootstrap_field contact_form.email %}
                        </div>
                        <div class="form-group mt-3">
                            {#                <textarea class="form-control" name="message" placeholder="Message" required></textarea>#}
                            {% bootstrap_field contact_form.message %}
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>
    </section>
    {#    {% include 'home/welcome_page.html' %}#}

{% endblock content %}
