<nav id="navbar" class="navbar">
    <ul>
        <li><a class="nav-link scrollto" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/#about">Nosotros</a></li>
        <li><a class="nav-link scrollto" href="/#services">Servicios</a></li>
        <li><a class="nav-link scrollto" href="/#portfolio">Portfolio</a></li>
        <li><a class="nav-link scrollto" href="/#team">Team</a></li>
        <li><a class="{% if 'blog' in request.path %}active{% endif %}" href="/blog">Blog</a></li>
        <li><a class="{% if 'productos' in request.path %}active{% endif %}" href="/productos">Productos</a></li>
        <li><a href="/#faq">Faq</a></li>
        <li><a class="nav-link scrollto" href="/#contact">Contacto</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle d-none"></i>
</nav><!-- .navbar -->
